absl-py==2.1.0
aiocoap==0.4.7
aiohttp==3.9.5
aiohttp-cors==0.7.0
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
asyncio==3.4.3
attrs==24.2.0
azure-core==1.31.0
babel==2.16.0
beautifulsoup4==4.12.3
bitarray==2.9.2
bitstring==4.2.3
bleach==6.1.0
blinker==1.8.2
blis==1.0.1
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.19.0
cloudpickle==3.0.0
colorama==0.4.6
colorful==0.5.6
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
cymem==2.0.8
datasets==2.19.2
debugpy==1.8.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
docutils==0.20.1
ecdsa==0.19.0
einops==0.7.0
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
esptool==4.7.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.16.1
fiona==1.9.6
-e git+https://github.com/alfo93/fl_hybridation_studio.git@5d1694de52f8de79486546488a34e21942dcf24d#egg=fl_tensorflow&subdirectory=fl-tensorflow
-e git+https://github.com/benzebra/HAR@7c4e284eec86a5bbb3dc9fe50d99fb59c00cba83#egg=fl_tensorflow_v2&subdirectory=fl-tensorflow-v2
-e git+https://github.com/benzebra/HAR@7c4e284eec86a5bbb3dc9fe50d99fb59c00cba83#egg=fl_test&subdirectory=fl-test/fl-test
flatbuffers==24.3.25
flwr==1.9.0
flwr-datasets==0.1.0
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
gast==0.5.4
geopandas==0.14.3
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.1
google-auth==2.32.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
gradio_client==1.4.2
grpcio==1.64.1
h11==0.14.0
h5py==3.11.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.23.3
idna==3.10
ImageHash==4.3.1
imageio==2.36.0
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata==8.5.0
intelhex==2.3.0
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.3
isoduration==20.11.0
it_core_news_md @ https://github.com/explosion/spacy-models/releases/download/it_core_news_md-3.8.0/it_core_news_md-3.8.0-py3-none-any.whl#sha256=a731d2d8e7c5a7093ac42f88774ea2a2ad3d5809959eedee65632b3533f804ec
it_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.8.0/it_core_news_sm-3.8.0-py3-none-any.whl#sha256=3f617bf9a8ae0418953cf1fbf014e10272684c4229e882a7fd748b637d0100bf
iterators==0.0.2
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
keras==3.3.3
keras-metrics==1.1.0
kiwisolver==1.4.5
langcodes==3.4.1
language_data==1.2.0
lazy_loader==0.4
liac-arff==2.5.0
libclang==18.1.1
lightning-utilities==0.11.9
linkify-it-py==2.0.3
llvmlite==0.43.0
logging==0.4.9.6
lxml==5.2.2
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.1
mdurl==0.1.2
memray==1.13.3
minio==7.2.7
mistune==3.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
names-dataset==3.1.0
namex==0.0.8
narwhals==1.9.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
omegaconf==2.3.0
opencensus==0.11.4
opencensus-context==0.1.3
openml==0.14.2
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.11.0
overrides==7.7.0
packaging==24.1
paho-mqtt==2.0.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
phonenumbers==8.13.47
pillow==10.4.0
platformdirs==4.3.6
powerlaw==1.5
preshed==3.0.9
presidio_analyzer==2.2.355
presidio_anonymizer==2.2.355
prometheus_client==0.21.0
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==5.28.2
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-spy==0.3.14
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
PyExifTool==0.5.6
Pygments==2.18.0
pyogrio==0.7.2
pyparsing==3.1.2
pyproj==3.6.1
pyserial==3.5
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytorch-lightning==2.4.0
pytorch-tabnet==4.1.0
pytorch-tabular==1.1.1
pytube==15.0.0
pytz==2024.2
PyWavelets==1.7.0
PyYAML==6.0.2
pyzmq==26.2.0
ray==2.31.0
reedsolo==1.7.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-file==2.1.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==70.1.0
shap==0.45.1
shapely==2.0.3
shellingham==1.5.4
six==1.16.0
slicer==0.0.8
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
statistics==1.0.3.5
streamlit==1.39.0
sympy==1.12.1
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
terminado==0.18.1
textual==0.72.0
tf_keras==2.17.0
thinc==8.3.2
threadpoolctl==3.5.0
tifffile==2024.9.20
tinycss2==1.3.0
tldextract==5.1.2
tokenizers==0.20.1
toml==0.10.2
tomli==2.0.2
torch==2.3.1
torchmetrics==1.5.2
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.45.2
typer==0.12.5
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
uri-template==1.3.0
urllib3==2.2.3
virtualenv==20.26.3
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wheel==0.43.0
widgetsnbextension==4.0.11
wrapt==1.16.0
xmltodict==0.13.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.20.2
